body,
html {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 47px;
    padding-bottom: 38px;
}

.clearfix {
    clear: both;
}

.navbar {
    background: #555555;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 27px;
    border-bottom: 1px solid white;
}

.navbar h1 {
    margin: 0;
    display: inline-block;
    color: white;
}

.navbar h1:hover {
    color: lightblue;
}

.navbar .menu {
    float: right;
    margin-right: 40px;
}

.navbar .navbar-link {
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

.navbar .navbar-link:hover {
    color: lightblue;
}

.footer {
    background: #555555;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
}

.float-right {
    float: right;
    margin-right: 40px;
}

.margin-right {
    margin-right: 20px;
}

.fas.fa-bars {
    cursor: pointer;
}

.sidebar {
    float: left;
    width: 200px;
    border-right: 1px solid gray;
    background: #555555;
    height: calc(100vh - 49px - 38px);
    color: white;
}

.page-content {
    float: left;
}

.table {
    width: 100%;
    /* border-collapse: collapse; */
}

.table th,
.table td {
    text-align: center;
    border: 1px solid gray;
}